*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    border-collapse: collapse;
}

#vraper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/*----------Header--------------------------------
------------3 ligne, 3 colone---------------------
------------logo, ----------, info ---------------
----------- ----, titre-site, ----, --------------
------------ nav principal -----------------------*/

.banier-contenair{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border: 2px dotted greenyellow;
}

.contener-logo{
    grid-row: 1/3;
    grid-column: 1/2;
    /*text-align: center;*/
    /*border: 2px solid rgb(0, 0, 0);*/
}

.logo{
    max-width: 80px;
    max-height: 80px;
}

.titre-site{
    grid-row: 2/-2;
    grid-column: 2/3;
    text-align: center;
    text-wrap-mode: nowrap;  
}

.contener-info{
    grid-row: 1/1;
    grid-column: 3/-1;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
    height: 44px;
}

.tel{
    width: 140px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
}



.btn-conexion{
    width: 140px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);

    display: flex;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
    justify-content:center ;
    font-size: 18px;
    
}

.bouton{
    width: 30%;
    min-width: 140px;
    border-radius: 5px;
    margin: 0 auto;
    /*margin-bottom: 15Px;*/
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    text-wrap-mode: nowrap;
}

/*------nav-principal-------------------------*/


.nav-principal{
    display: grid;
    grid-row: auto;
    grid-column: 1/-1;
    justify-content: center;
    align-content: center;
    text-wrap-mode: nowrap;
}

.menu-P{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;

    .list-m-p
    .sous-list-m-p {
        list-style-type: none;

        .item{
            text-decoration: none;  
        }

    }

}


/*------------------------------------------*/


.sous-menu-p{
    display: none;
    background-color: rgb(50, 100, 200);
    border-top : 2px solid rgb(0, 200, 0);
    margin-top: 12px;  
    padding-bottom: 10px ; 
}

#sous-menu-1:hover .sous-menu-p {
    display: block;
    position: absolute;          
}

.sous-list-m-p{   
    
    padding: 10px;
}

.sous-list-m-p > a{
    color: rgb(240, 240, 240);
    padding: 10px;
}

.sous-list-m-p > a:hover{
    border-bottom: 2px solid rgb(0, 200, 0);
}

/*------------------------------------------*/

#item-0{
    color: rgb(240, 240, 240);
    background-color: rgb(0, 50, 150);
    padding: 10px;  
}

 #item-0:hover{
        border-bottom: 4px solid rgb(0, 200, 0);
    } 

#item-1{
    color: rgb(240, 240, 240);
    background-color: rgb(50, 100, 200);
    padding: 10px;
}

#item-1:hover {
    border-bottom: 4px solid rgb(0, 200, 0);
}



#item-2{
    color: rgb(240, 240, 240);
    background-color: rgb(100, 150, 250);
    padding: 10px;      
}

#item-2:hover{
        border-bottom: 4px solid rgb(0, 200, 0);
    }

#item-3{
    color: rgb(240, 240, 240);
    background-color: rgb(0, 100, 0);
    padding: 10px;
}

#item-3:hover{
        border-bottom: 4px solid rgb(50, 100, 200);
    }

#item-4{
    color: rgb(240, 240, 240);
    background-color: rgb(0, 150, 0);
    padding: 10px;
    
}

#item-4:hover{
        border-bottom: 4px solid rgb(50, 100, 200);
    }

#item-5{
    color: rgb(50, 100, 200);
    background-color: rgb(0, 200, 0);
    padding: 10px;
    
}

#item-5:hover{
        border-bottom: 4px solid rgb(50, 100, 200);
    }

#item-6{
    color: rgb(100, 150, 250);
    background-color: rgb(0, 250, 0);
    padding: 10px;
}

#item-6:hover{
        border-bottom: 4px solid rgb(100, 150, 250);
    }


/*------------------------------------------*/


.main-contenair{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgb(150, 12, 192);
}

/*------------------------------------------*/


.article-contenair{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    /*gap: 10px;*/
    padding: 10px;
    border: 2px solid rgb(245, 4, 16);
    background-color: aqua;
}



/*titre article*/
.header-ar-0{
    grid-column: 1/3;
    grid-row: 1;

    margin-bottom: 10px;
}

/* titre des pages */
.titre-page{
    grid-column: 1/3;
    grid-row: 1;
    color: rgb(224, 240, 7);
    background-color: blue;
    text-align: center;
}



/*--------------------------*/
.titre-article{
    grid-column: 1;
    grid-row: 2;
    color: red;
    background-color: blue;
}

.slogan{
    grid-column: 1;
    grid-row: 3;
    color: white; 
    background-color: red;
    text-align: center;   
}

.texte-article{
    grid-column: 1;
    grid-row: 4;
    color: rgb(37, 6, 218);
    background-color: rgb(229, 255, 0);  
}

.imge-article{
    display: grid;
    grid-column: 2;
    grid-row: 2/5;
    background-color: rgb(255, 0, 255);
    justify-content: center; 
    align-items: center;
}



.footer-contenair{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
}   